.about-box{
    text-align: center !important;
   
    /* border-top: 1px solid #757575; */
    border-left: 3px solid #757575;
    background: #fff;
    border-radius: 15px;
    padding: 15px 0px !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.about-box h4{
    color: #333333 !important;
    font-size: 18px !important;
    padding-top: 10px !important;
}
.about-box h5{
    font-size: 15px !important;
}
.about-box a{
    font-size: 30px !important;
    color: #333333 !important;
}


@media (min-width: 769px) and (max-width: 991px){
    .about-box h4 {
        color: #333333 !important;
        font-size: 13px !important;
        padding-top: 10px !important;
    }
    .about-box h5 {
        font-size: 13px !important;
    }
}